@model HubCinemaAdmin.Models.CinemaDTO

@{
    ViewData["Title"] = "EditCinema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditCinema</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCinema">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDCinema" />
            <div class="form-group">
                <label asp-for="CinemaName" class="control-label"></label>
                <input asp-for="CinemaName" class="form-control" />
                <span asp-validation-for="CinemaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
